custom/cecs/ybillingintegration/resources/ybillingintegration/wsdl/WS_ZORDER_CREATE.WSDL

<?xml version="1.0" encoding="utf-8" ?> 
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
<wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" /> 
</wsdl:documentation>
<wsp:UsingPolicy wsdl:required="true" /> 
<wsp:Policy wsu:Id="BN__ZOrderCreateBinding2">
<wsp:ExactlyOne>
<wsp:All>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" /> 
<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
<wsp:Policy>
<sp:TransportToken>
<wsp:Policy>
<sp:HttpsToken>
<wsp:Policy>
<sp:HttpBasicAuthentication /> 
</wsp:Policy>
</sp:HttpsToken>
</wsp:Policy>
</sp:TransportToken>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128Rsa15 /> 
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:Layout>
<wsp:Policy>
<sp:Strict /> 
</wsp:Policy>
</sp:Layout>
</wsp:Policy>
</sp:TransportBinding>
</wsp:All>
</wsp:All>
<wsp:All>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" /> 
<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
<wsp:Policy>
<sp:TransportToken>
<wsp:Policy>
<sp:HttpsToken>
<wsp:Policy>
<sp:HttpBasicAuthentication /> 
</wsp:Policy>
</sp:HttpsToken>
</wsp:Policy>
</sp:TransportToken>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128Rsa15 /> 
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:Layout>
<wsp:Policy>
<sp:Strict /> 
</wsp:Policy>
</sp:Layout>
</wsp:Policy>
</sp:TransportBinding>
</wsp:All>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="BN__ZOrderCreateBinding2_soap12">
<wsp:ExactlyOne>
<wsp:All>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" /> 
<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
<wsp:Policy>
<sp:TransportToken>
<wsp:Policy>
<sp:HttpsToken>
<wsp:Policy>
<sp:HttpBasicAuthentication /> 
</wsp:Policy>
</sp:HttpsToken>
</wsp:Policy>
</sp:TransportToken>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128Rsa15 /> 
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:Layout>
<wsp:Policy>
<sp:Strict /> 
</wsp:Policy>
</sp:Layout>
</wsp:Policy>
</sp:TransportBinding>
</wsp:All>
</wsp:All>
<wsp:All>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" /> 
<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
<wsp:Policy>
<sp:TransportToken>
<wsp:Policy>
<sp:HttpsToken>
<wsp:Policy>
<sp:HttpBasicAuthentication /> 
</wsp:Policy>
</sp:HttpsToken>
</wsp:Policy>
</sp:TransportToken>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128Rsa15 /> 
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:Layout>
<wsp:Policy>
<sp:Strict /> 
</wsp:Policy>
</sp:Layout>
</wsp:Policy>
</sp:TransportBinding>
</wsp:All>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="IF__ZCRM_WS_ZORDER_CREATE">
<wsp:ExactlyOne>
<wsp:All>
<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
<sapsession:enableSession>false</sapsession:enableSession> 
</sapsession:Session>
<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
<sapcentraladmin:BusinessApplicationID>0050568502431ED1B0B63AE1E24D675F</sapcentraladmin:BusinessApplicationID> 
</sapcentraladmin:CentralAdministration>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="OP__ZcrmIsxBtxApiOrderCreate">
<wsp:ExactlyOne>
<wsp:All>
<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required> 
<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit> 
<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking> 
<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM> 
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsdl:types>
<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<xsd:simpleType name="byte16">
<xsd:restriction base="xsd:base64Binary">
<xsd:maxLength value="16" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char1">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char10">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char12">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="12" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char14">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="14" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char2">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char20">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char220">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="220" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char3">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char30">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char32">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char4">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char40">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char50">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char6">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char8">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="decimal13.0">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13" /> 
<xsd:fractionDigits value="0" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="decimal15.0">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="15" /> 
<xsd:fractionDigits value="0" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="numeric10">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" /> 
<xsd:pattern value="\d*" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="numeric3">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" /> 
<xsd:pattern value="\d*" /> 
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="numeric6">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" /> 
<xsd:pattern value="\d*" /> 
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
<xsd:import namespace="urn:sap-com:document:sap:rfc:functions" /> 
<xsd:complexType name="CrmtIsxControlApi">
<xsd:sequence>
<xsd:element name="ExplodeSubitems" type="n0:char1" /> 
<xsd:element name="SubmitOrder" type="n0:char1" /> 
<xsd:element name="SaveOrder" type="n0:char1" /> 
<xsd:element name="CommitAfterSave" type="n0:char1" /> 
<xsd:element name="SaveWithErrors" type="n0:char1" /> 
<xsd:element name="NoBdocSend" type="n0:char1" /> 
<xsd:element name="DeactivateInterfaceChecks" type="n0:char1" /> 
<xsd:element name="NoTerminationWhenError" type="n0:char1" /> 
<xsd:element name="CheckConfig" type="n0:char1" /> 
<xsd:element name="NoInit" type="n0:char1" /> 
<xsd:element name="DetermineRatingArea" type="n0:char1" /> 
<xsd:element name="UseTemplate" type="n0:char1" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxProviderCreateApi">
<xsd:sequence>
<xsd:element name="GenData" type="tns:CrmtIsxGenDataDcApi" /> 
<xsd:element name="Items" type="tns:CrmtIsxProvItemDcApiT" /> 
<xsd:element name="AltPartners" type="tns:CrmtIsxAltPartnerDcApiT" /> 
<xsd:element name="AcAssign" type="tns:CrmtIsxAcAssignDcApiT" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxGenDataDcApi">
<xsd:sequence>
<xsd:element name="SoldToParty" type="tns:CrmtIsxPartnerApi" /> 
<xsd:element name="Employee" type="n0:char10" /> 
<xsd:element name="Orgman" type="tns:CrmtIsxOrgmanApi" /> 
<xsd:element name="ProcessType" type="n0:char4" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxPartnerApi">
<xsd:sequence>
<xsd:element name="PartnerNo" type="n0:char10" /> 
<xsd:element name="AddrNr" type="n0:char10" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxOrgmanApi">
<xsd:sequence>
<xsd:element name="SalesOrg" type="n0:char14" /> 
<xsd:element name="SalesOffice" type="n0:char14" /> 
<xsd:element name="SalesGroup" type="n0:char14" /> 
<xsd:element name="DisChannel" type="n0:char2" /> 
<xsd:element name="Division" type="n0:char2" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxProvItemDcApi">
<xsd:sequence>
<xsd:element name="ItemHandle" type="n0:numeric10" /> 
<xsd:element name="ParentItemHandle" type="n0:numeric10" /> 
<xsd:element name="ContractNr" type="n0:char20" /> 
<xsd:element name="ProductId" type="n0:char40" /> 
<xsd:element name="Timeframe" type="tns:CrmtIsxDatesApi" /> 
<xsd:element name="BuagId" type="n0:char12" /> 
<xsd:element name="ItemConfig" type="tns:CrmtIsxItemConfigApi" /> 
<xsd:element name="MaRef" type="tns:CrmtIsxMaRefApi" /> 
<xsd:element name="PoolAgrRef" type="n0:char20" /> 
<xsd:element name="ContItmId" type="n0:byte16" /> 
<xsd:element name="PrePostpaid" type="n0:char1" /> 
<xsd:element name="AdditionalSubItem" type="n0:char1" /> 
<xsd:element name="RatingArea" type="n0:char4" /> 
<xsd:element name="BillingCycle" type="n0:char4" /> 
<xsd:element name="RevaccRefid" type="n0:char30" /> 
<xsd:element name="RevaccReftype" type="n0:char3" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxDatesApi">
<xsd:sequence>
<xsd:element name="ContractStart" type="n0:decimal15.0" /> 
<xsd:element name="Timezone" type="n0:char6" /> 
<xsd:element name="ContractDuration" type="n0:decimal13.0" /> 
<xsd:element name="DurationUnit" type="n0:char12" /> 
<xsd:element name="ContractEnd" type="n0:decimal15.0" /> 
<xsd:element name="RuntimeEnd" type="n0:decimal15.0" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxItemConfigApi">
<xsd:sequence>
<xsd:element name="Config" type="tns:CrmtIsxConfigApiT" /> 
<xsd:element name="TechRes" type="tns:CrmtIsxTechResApiT" /> 
<xsd:element name="Discount" type="tns:CrmtIsxDiscountApiT" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxConfigApi">
<xsd:sequence>
<xsd:element name="Characteristic" type="n0:char40" /> 
<xsd:element name="Value" type="n0:char40" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxTechResApi">
<xsd:sequence>
<xsd:element name="TrType" type="n0:char2" /> 
<xsd:element name="TrSlot" type="n0:numeric6" /> 
<xsd:element name="TrObjId" type="n0:char50" /> 
<xsd:element name="TrObjKey" type="n0:char32" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxDiscountApi">
<xsd:sequence>
<xsd:element name="DiscKey" type="n0:char8" /> 
<xsd:element name="ValidFrom" type="n0:decimal15.0" /> 
<xsd:element name="ValidTo" type="n0:decimal15.0" /> 
<xsd:element name="ContRel" type="n0:char1" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxMaRefApi">
<xsd:sequence>
<xsd:element name="MaHeadRef" type="n0:byte16" /> 
<xsd:element name="MaItemRef" type="n0:byte16" /> 
<xsd:element name="MaRootRef" type="n0:byte16" /> 
<xsd:element name="MaShareRef" type="n0:byte16" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxAltPartnerDcApi">
<xsd:sequence>
<xsd:element name="RefToItemHandle" type="tns:CrmtIsxHandleApiT" /> 
<xsd:element name="PartnerFct" type="n0:char8" /> 
<xsd:element name="PartnerNo" type="n0:char10" /> 
<xsd:element name="AddrNr" type="n0:char10" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxAcAssignDcApi">
<xsd:sequence>
<xsd:element name="RefToItemHandle" type="tns:CrmtIsxHandleApiT" /> 
<xsd:element name="AcObjectType" type="n0:char2" /> 
<xsd:element name="AcAssignment" type="n0:char50" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtReturnObjectsStruc">
<xsd:sequence>
<xsd:element name="Guid" type="n0:byte16" /> 
<xsd:element name="ObjectId" type="n0:char10" /> 
<xsd:element name="ProviderContract" type="n0:char10" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Bapiret2">
<xsd:sequence>
<xsd:element name="Type" type="n0:char1" /> 
<xsd:element name="Id" type="n0:char20" /> 
<xsd:element name="Number" type="n0:numeric3" /> 
<xsd:element name="Message" type="n0:char220" /> 
<xsd:element name="LogNo" type="n0:char20" /> 
<xsd:element name="LogMsgNo" type="n0:numeric6" /> 
<xsd:element name="MessageV1" type="n0:char50" /> 
<xsd:element name="MessageV2" type="n0:char50" /> 
<xsd:element name="MessageV3" type="n0:char50" /> 
<xsd:element name="MessageV4" type="n0:char50" /> 
<xsd:element name="Parameter" type="n0:char32" /> 
<xsd:element name="Row" type="xsd:int" /> 
<xsd:element name="Field" type="n0:char30" /> 
<xsd:element name="System" type="n0:char10" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxProvItemDcApiT">
<xsd:sequence>
<xsd:element name="item" type="tns:CrmtIsxProvItemDcApi" minOccurs="0" maxOccurs="unbounded" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxConfigApiT">
<xsd:sequence>
<xsd:element name="item" type="tns:CrmtIsxConfigApi" minOccurs="0" maxOccurs="unbounded" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxTechResApiT">
<xsd:sequence>
<xsd:element name="item" type="tns:CrmtIsxTechResApi" minOccurs="0" maxOccurs="unbounded" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxDiscountApiT">
<xsd:sequence>
<xsd:element name="item" type="tns:CrmtIsxDiscountApi" minOccurs="0" maxOccurs="unbounded" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxAltPartnerDcApiT">
<xsd:sequence>
<xsd:element name="item" type="tns:CrmtIsxAltPartnerDcApi" minOccurs="0" maxOccurs="unbounded" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxHandleApiT">
<xsd:sequence>
<xsd:element name="item" type="n0:numeric10" minOccurs="0" maxOccurs="unbounded" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CrmtIsxAcAssignDcApiT">
<xsd:sequence>
<xsd:element name="item" type="tns:CrmtIsxAcAssignDcApi" minOccurs="0" maxOccurs="unbounded" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Bapirettab">
<xsd:sequence>
<xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded" /> 
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ZcrmIsxBtxApiOrderCreate">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IsControl" type="tns:CrmtIsxControlApi" minOccurs="0" /> 
<xsd:element name="IsOrderData" type="tns:CrmtIsxProviderCreateApi" minOccurs="0" /> 
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZcrmIsxBtxApiOrderCreateResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EsCreatedOrder" type="tns:CrmtReturnObjectsStruc" /> 
<xsd:element name="EtReturn" type="tns:Bapirettab" /> 
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ZcrmIsxBtxApiOrderCreate">
<wsdl:part name="parameters" element="tns:ZcrmIsxBtxApiOrderCreate" /> 
</wsdl:message>
<wsdl:message name="ZcrmIsxBtxApiOrderCreateResponse">
<wsdl:part name="parameter" element="tns:ZcrmIsxBtxApiOrderCreateResponse" /> 
</wsdl:message>
<wsdl:portType name="ZCRM_WS_ZORDER_CREATE">
 <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
    <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
  </jaxws:bindings>
<wsdl:documentation>
<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
<sapdoc:docitem applicationComponent="CRM-IT" /> 
</sapdoc:sapdoc>
</wsdl:documentation>
<wsp:Policy>
<wsp:PolicyReference URI="#IF__ZCRM_WS_ZORDER_CREATE" /> 
</wsp:Policy>
<wsdl:operation name="ZcrmIsxBtxApiOrderCreate">
<wsp:Policy>
<wsp:PolicyReference URI="#OP__ZcrmIsxBtxApiOrderCreate" /> 
</wsp:Policy>
<wsdl:input message="tns:ZcrmIsxBtxApiOrderCreate" /> 
<wsdl:output message="tns:ZcrmIsxBtxApiOrderCreateResponse" /> 
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ZOrderCreateBinding2" type="tns:ZCRM_WS_ZORDER_CREATE">
<wsp:Policy>
<wsp:PolicyReference URI="#BN__ZOrderCreateBinding2" /> 
</wsp:Policy>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
<wsdl:operation name="ZcrmIsxBtxApiOrderCreate">
<soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZCRM_WS_ZORDER_CREATE:ZcrmIsxBtxApiOrderCreateRequest" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ZOrderCreateBinding2_soap12" type="tns:ZCRM_WS_ZORDER_CREATE">
<wsp:Policy>
<wsp:PolicyReference URI="#BN__ZOrderCreateBinding2_soap12" /> 
</wsp:Policy>
<wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
<wsdl:operation name="ZcrmIsxBtxApiOrderCreate">
<wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZCRM_WS_ZORDER_CREATE:ZcrmIsxBtxApiOrderCreateRequest" style="document" /> 
<wsdl:input>
<wsoap12:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<wsoap12:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ZCRM_WS_ZORDER_CREATE">
<wsdl:port name="ZOrderCreateBinding2" binding="tns:ZOrderCreateBinding2">
<soap:address location="http://cicr3.wdf.sap.corp:50080/sap/bc/srt/rfc/sap/zcrm_ws_zorder_create/200/zcrm_ws_zorder_create/zordercreatebinding2" /> 
</wsdl:port>
<wsdl:port name="ZOrderCreateBinding2_soap12" binding="tns:ZOrderCreateBinding2_soap12">
<wsoap12:address location="http://cicr3.wdf.sap.corp:50080/sap/bc/srt/rfc/sap/zcrm_ws_zorder_create/200/zcrm_ws_zorder_create/zordercreatebinding2" /> 
</wsdl:port>
</wsdl:service>
</wsdl:definitions>