custom/cecs/ybillingintegration/resources/ybillingintegration/wsdl/WS_ZBUAG_CREATE.WSDL

<?xml version="1.0" encoding="utf-8" ?> 
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
  <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" /> 
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" /> 
  <wsp:Policy wsu:Id="BN__ZBuAG_Create_Binding">
  <wsp:ExactlyOne>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken>
  <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken>
  <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZBuAG_Create_Binding_soap12">
  <wsp:ExactlyOne>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken>
  <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken>
  <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZCRM_WS_BUAG_CREATE">
  <wsp:ExactlyOne>
  <wsp:All>
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
  <sapsession:enableSession>false</sapsession:enableSession> 
  </sapsession:Session>
  <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
  <sapcentraladmin:BusinessApplicationID>0050568502431ED1B0B63AE1E24D675F</sapcentraladmin:BusinessApplicationID> 
  </sapcentraladmin:CentralAdministration>
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZcrmBuagCreate">
  <wsp:ExactlyOne>
  <wsp:All>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required> 
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit> 
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking> 
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM> 
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xsd:simpleType name="char1">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="1" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char10">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="10" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char12">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="12" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char2">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="2" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char20">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="20" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char220">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="220" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char25">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="25" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char3">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="3" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char30">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="30" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char32">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="32" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char35">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="35" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char4">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="4" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char5">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="5" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char50">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="50" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char6">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="6" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char8">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="8" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="cuky5">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="5" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimal23.4">
  <xsd:restriction base="xsd:decimal">
  <xsd:totalDigits value="23" /> 
  <xsd:fractionDigits value="4" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeric2">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="2" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeric3">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="3" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeric6">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="6" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" /> 
  <xsd:simpleType name="RfcException.Message.Number">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="3" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CrmtBuagTemplStruc">
  <xsd:sequence>
  <xsd:element name="BuagText" type="n0:char30" /> 
  <xsd:element name="BuagDefault" type="n0:char1" /> 
  <xsd:element name="BankInc" type="n0:char4" /> 
  <xsd:element name="BankOutg" type="n0:char4" /> 
  <xsd:element name="CreditCardInc" type="n0:char6" /> 
  <xsd:element name="CreditCardOutg" type="n0:char6" /> 
  <xsd:element name="AddrNo" type="n0:char10" /> 
  <xsd:element name="AddrDr" type="n0:char10" /> 
  <xsd:element name="AddrPy" type="n0:char10" /> 
  <xsd:element name="AddrPr" type="n0:char10" /> 
  <xsd:element name="AddrIr" type="n0:char10" /> 
  <xsd:element name="AddrTax" type="n0:char10" /> 
  <xsd:element name="TaxCategory" type="n0:char2" /> 
  <xsd:element name="TaxCode" type="n0:char2" /> 
  <xsd:element name="PayerBuagId" type="n0:char12" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapibus1006130RelData">
  <xsd:sequence>
  <xsd:element name="PartnerPft" type="n0:char4" /> 
  <xsd:element name="Partner1" type="n0:char10" /> 
  <xsd:element name="Partner2" type="n0:char10" /> 
  <xsd:element name="PartnerFct" type="n0:char8" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapibus1006130GnrlDataExp">
  <xsd:sequence>
  <xsd:element name="BabrText" type="n0:char30" /> 
  <xsd:element name="MethodInc" type="n0:char1" /> 
  <xsd:element name="MethodOutg" type="n0:char5" /> 
  <xsd:element name="SendcontrolDr" type="n0:char4" /> 
  <xsd:element name="Tofpaym" type="n0:char4" /> 
  <xsd:element name="SendcontrolBr" type="n0:char4" /> 
  <xsd:element name="CorrespVariant" type="n0:char5" /> 
  <xsd:element name="SendcontrolBp" type="n0:char4" /> 
  <xsd:element name="BabrGuid" type="n0:char32" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapibus1006130SpecDataExp">
  <xsd:sequence>
  <xsd:element name="BuagId" type="n0:char12" /> 
  <xsd:element name="BuagText" type="n0:char30" /> 
  <xsd:element name="BuagDefault" type="n0:char1" /> 
  <xsd:element name="BuagClass" type="n0:char10" /> 
  <xsd:element name="AddrNo" type="n0:char10" /> 
  <xsd:element name="RefNumber" type="n0:char25" /> 
  <xsd:element name="BankInc" type="n0:char4" /> 
  <xsd:element name="BankOutg" type="n0:char4" /> 
  <xsd:element name="CreditCardInc" type="n0:char6" /> 
  <xsd:element name="CreditCardOutg" type="n0:char6" /> 
  <xsd:element name="PayerBuagId" type="n0:char12" /> 
  <xsd:element name="AddrDr" type="n0:char10" /> 
  <xsd:element name="AddrPy" type="n0:char10" /> 
  <xsd:element name="AddrPr" type="n0:char10" /> 
  <xsd:element name="AddrIr" type="n0:char10" /> 
  <xsd:element name="AddrTax" type="n0:char10" /> 
  <xsd:element name="TaxCategory" type="n0:char2" /> 
  <xsd:element name="TaxCode" type="n0:char2" /> 
  <xsd:element name="BuagGuid" type="n0:char32" /> 
  <xsd:element name="BabrGuid" type="n0:char32" /> 
  <xsd:element name="DirectDebitAmount" type="n0:decimal23.4" /> 
  <xsd:element name="DirectDebitCurrencyIso" type="n0:char3" /> 
  <xsd:element name="DirectDebitMonths" type="n0:numeric2" /> 
  <xsd:element name="DirectDebitRolling" type="n0:char1" /> 
  <xsd:element name="DirectDebitCurrency" type="n0:cuky5" /> 
  <xsd:element name="BuagDeletionFlag" type="n0:char1" /> 
  <xsd:element name="BuagText35" type="n0:char35" /> 
  <xsd:element name="BuagIsCollBill" type="n0:char1" /> 
  <xsd:element name="CollBillBuagId" type="n0:char12" /> 
  <xsd:element name="PpaccHGuid" type="n0:char32" /> 
  <xsd:element name="PpaccRelation" type="n0:char1" /> 
  <xsd:element name="SepaMndid" type="n0:char35" /> 
  <xsd:element name="BuagIdLegacy" type="n0:char20" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2">
  <xsd:sequence>
  <xsd:element name="Type" type="n0:char1" /> 
  <xsd:element name="Id" type="n0:char20" /> 
  <xsd:element name="Number" type="n0:numeric3" /> 
  <xsd:element name="Message" type="n0:char220" /> 
  <xsd:element name="LogNo" type="n0:char20" /> 
  <xsd:element name="LogMsgNo" type="n0:numeric6" /> 
  <xsd:element name="MessageV1" type="n0:char50" /> 
  <xsd:element name="MessageV2" type="n0:char50" /> 
  <xsd:element name="MessageV3" type="n0:char50" /> 
  <xsd:element name="MessageV4" type="n0:char50" /> 
  <xsd:element name="Parameter" type="n0:char32" /> 
  <xsd:element name="Row" type="xsd:int" /> 
  <xsd:element name="Field" type="n0:char30" /> 
  <xsd:element name="System" type="n0:char10" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RfcException.Message">
  <xsd:sequence>
  <xsd:element name="ID" type="xsd:string" /> 
  <xsd:element name="Number" type="tns:RfcException.Message.Number" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcrmBuagCreate.RfcException">
  <xsd:sequence>
  <xsd:element name="Name" type="tns:ZcrmBuagCreate.RfcExceptions" /> 
  <xsd:element name="Text" type="xsd:string" minOccurs="0" /> 
  <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapibus1006130RelDataT">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapibus1006130RelData" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2T">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ZcrmBuagCreate.RfcExceptions">
  <xsd:restriction base="xsd:string">
  <xsd:enumeration value="Failed" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="ZcrmBuagCreate.Exception" type="tns:ZcrmBuagCreate.RfcException" /> 
  <xsd:element name="ZcrmBuagCreate">
  <xsd:complexType>
  <xsd:sequence>
  <xsd:element name="CsDatagnrlExp" type="tns:Bapibus1006130GnrlDataExp" minOccurs="0" /> 
  <xsd:element name="CsDataspecExp" type="tns:Bapibus1006130SpecDataExp" minOccurs="0" /> 
  <xsd:element name="IsTemplate" type="tns:CrmtBuagTemplStruc" minOccurs="0" /> 
  <xsd:element name="ItTreldata" type="tns:Bapibus1006130RelDataT" minOccurs="0" /> 
  <xsd:element name="IvBuagChannel" type="n0:char3" minOccurs="0" /> 
  <xsd:element name="IvBuagId" type="n0:char12" minOccurs="0" /> 
  <xsd:element name="IvBuagIsCollBill" type="n0:char1" minOccurs="0" /> 
  <xsd:element name="IvBuagPaymtype" type="n0:numeric2" minOccurs="0" /> 
  <xsd:element name="IvBuagUsage" type="n0:numeric2" minOccurs="0" /> 
  <xsd:element name="IvBupaId" type="n0:char10" /> 
  <xsd:element name="IvDoubleCheck" type="n0:char1" minOccurs="0" /> 
  <xsd:element name="IvRiskClass" type="n0:char3" minOccurs="0" /> 
  <xsd:element name="IvSave" type="n0:char1" minOccurs="0" /> 
  <xsd:element name="IvTestrun" type="n0:char1" minOccurs="0" /> 
  <xsd:element name="Return" type="tns:Bapiret2T" /> 
  </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
  <xsd:element name="ZcrmBuagCreateResponse">
  <xsd:complexType>
  <xsd:sequence>
  <xsd:element name="CsDatagnrlExp" type="tns:Bapibus1006130GnrlDataExp" minOccurs="0" /> 
  <xsd:element name="CsDataspecExp" type="tns:Bapibus1006130SpecDataExp" minOccurs="0" /> 
  <xsd:element name="EvBuagDoubletteGuid" type="n0:char32" /> 
  <xsd:element name="EvBuagDoubletteId" type="n0:char12" /> 
  <xsd:element name="Return" type="tns:Bapiret2T" /> 
  </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
  </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZcrmBuagCreate">
  <wsdl:part name="parameters" element="tns:ZcrmBuagCreate" /> 
  </wsdl:message>
  <wsdl:message name="ZcrmBuagCreateResponse">
  <wsdl:part name="parameter" element="tns:ZcrmBuagCreateResponse" /> 
  </wsdl:message>
  <wsdl:message name="ZcrmBuagCreate.Exception">
  <wsdl:part name="ZcrmBuagCreate.Exception" element="tns:ZcrmBuagCreate.Exception" /> 
  </wsdl:message>
  <wsdl:portType name="ZCRM_WS_BUAG_CREATE">
  <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
    <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
  </jaxws:bindings>
  <wsdl:documentation>
  <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
  <sapdoc:docitem applicationComponent="CRM-IT" /> 
  </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
  <wsp:PolicyReference URI="#IF__ZCRM_WS_BUAG_CREATE" /> 
  </wsp:Policy>
  <wsdl:operation name="ZcrmBuagCreate">
  <wsp:Policy>
  <wsp:PolicyReference URI="#OP__ZcrmBuagCreate" /> 
  </wsp:Policy>
  <wsdl:input message="tns:ZcrmBuagCreate" /> 
  <wsdl:output message="tns:ZcrmBuagCreateResponse" /> 
  <wsdl:fault name="ZcrmBuagCreate.Exception" message="tns:ZcrmBuagCreate.Exception" /> 
  </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZBuAG_Create_Binding" type="tns:ZCRM_WS_BUAG_CREATE">
  <wsp:Policy>
  <wsp:PolicyReference URI="#BN__ZBuAG_Create_Binding" /> 
  </wsp:Policy>
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
  <wsdl:operation name="ZcrmBuagCreate">
  <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZCRM_WS_BUAG_CREATE:ZcrmBuagCreateRequest" style="document" /> 
  <wsdl:input>
  <soap:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" /> 
  </wsdl:output>
  <wsdl:fault name="ZcrmBuagCreate.Exception">
  <soap:fault name="ZcrmBuagCreate.Exception" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZBuAG_Create_Binding_soap12" type="tns:ZCRM_WS_BUAG_CREATE">
  <wsp:Policy>
  <wsp:PolicyReference URI="#BN__ZBuAG_Create_Binding_soap12" /> 
  </wsp:Policy>
  <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
  <wsdl:operation name="ZcrmBuagCreate">
  <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZCRM_WS_BUAG_CREATE:ZcrmBuagCreateRequest" style="document" /> 
  <wsdl:input>
  <wsoap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <wsoap12:body use="literal" /> 
  </wsdl:output>
  <wsdl:fault name="ZcrmBuagCreate.Exception">
  <wsoap12:fault name="ZcrmBuagCreate.Exception" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZCRM_WS_BUAG_CREATE">
  <wsdl:port name="ZBuAG_Create_Binding" binding="tns:ZBuAG_Create_Binding">
  <soap:address location="http://cicr3.wdf.sap.corp:50080/sap/bc/srt/rfc/sap/zcrm_ws_buag_create/200/zcrm_ws_buag_create/zbuag_create_binding" /> 
  </wsdl:port>
  <wsdl:port name="ZBuAG_Create_Binding_soap12" binding="tns:ZBuAG_Create_Binding_soap12">
  <wsoap12:address location="http://cicr3.wdf.sap.corp:50080/sap/bc/srt/rfc/sap/zcrm_ws_buag_create/200/zcrm_ws_buag_create/zbuag_create_binding" /> 
  </wsdl:port>
  </wsdl:service>
  </wsdl:definitions>