custom/cecs/ybillingintegration/resources/ybillingintegration/wsdl/WS_ZBP_CREATE.WSDL

<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
  <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" /> 
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" /> 
  <wsp:Policy wsu:Id="BN__ZBupaCreateBinding">
  <wsp:ExactlyOne>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
 <wsp:Policy>
 <sp:TransportToken>
 <wsp:Policy>
 <sp:HttpsToken>
 <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
 <sp:AlgorithmSuite>
 <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
 <sp:Layout>
 <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
 <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
 <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
 <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
 <wsp:Policy>
 <sp:TransportToken>
 <wsp:Policy>
 <sp:HttpsToken>
 <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
 <sp:AlgorithmSuite>
 <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
 <sp:Layout>
 <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
 <wsp:Policy wsu:Id="BN__ZBupaCreateBinding_soap12">
 <wsp:ExactlyOne>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken>
  <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken>
  <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZBAPI_BUPA_ZCREATE_FROM_DATA">
  <wsp:ExactlyOne>
  <wsp:All>
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
  <sapsession:enableSession>false</sapsession:enableSession> 
  </sapsession:Session>
  <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
  <sapcentraladmin:BusinessApplicationID>0050568502431ED1B0B63AE1E24D675F</sapcentraladmin:BusinessApplicationID> 
  </sapcentraladmin:CentralAdministration>
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZbapiBupaCreateFromData">
  <wsp:ExactlyOne>
  <wsp:All>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required> 
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit> 
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking> 
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM> 
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xsd:simpleType name="char1">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="1" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char10">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="10" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char12">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="12" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char128">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="128" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char132">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="132" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char14">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="14" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char15">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="15" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char16">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="16" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char2">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="2" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char20">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="20" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char220">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="220" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char24">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="24" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char241">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="241" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char250">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="250" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char3">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="3" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char30">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="30" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char32">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="32" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char35">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="35" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char4">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="4" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char40">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="40" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char48">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="48" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char5">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="5" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char50">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="50" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char6">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="6" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char60">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="60" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char64">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="64" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char8">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="8" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char80">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="80" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="date10">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="10" /> 
  <xsd:pattern value="\d\d\d\d-\d\d-\d\d" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimal3.1">
  <xsd:restriction base="xsd:decimal">
  <xsd:totalDigits value="3" /> 
  <xsd:fractionDigits value="1" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimal4.1">
  <xsd:restriction base="xsd:decimal">
  <xsd:totalDigits value="4" /> 
  <xsd:fractionDigits value="1" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="lang">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="1" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeric1">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="1" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeric3">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="3" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeric5">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="5" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeric6">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="6" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeric7">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="7" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" /> 
  <xsd:complexType name="Bapibus1006Address">
  <xsd:sequence>
  <xsd:element name="Standardaddress" type="n0:char1" /> 
  <xsd:element name="COName" type="n0:char40" /> 
  <xsd:element name="City" type="n0:char40" /> 
  <xsd:element name="District" type="n0:char40" /> 
  <xsd:element name="Regiogroup" type="n0:char8" /> 
  <xsd:element name="PostlCod1" type="n0:char10" /> 
  <xsd:element name="PostlCod2" type="n0:char10" /> 
  <xsd:element name="PostlCod3" type="n0:char10" /> 
  <xsd:element name="Pcode1Ext" type="n0:char10" /> 
  <xsd:element name="Pcode2Ext" type="n0:char10" /> 
  <xsd:element name="Pcode3Ext" type="n0:char10" /> 
  <xsd:element name="PoBox" type="n0:char10" /> 
  <xsd:element name="PoWONo" type="n0:char1" /> 
  <xsd:element name="PoBoxCit" type="n0:char40" /> 
  <xsd:element name="PoBoxReg" type="n0:char3" /> 
  <xsd:element name="PoboxCtry" type="n0:char3" /> 
  <xsd:element name="PoCtryiso" type="n0:char2" /> 
  <xsd:element name="Street" type="n0:char60" /> 
  <xsd:element name="StrAbbr" type="n0:char2" /> 
  <xsd:element name="HouseNo" type="n0:char10" /> 
  <xsd:element name="HouseNo2" type="n0:char10" /> 
  <xsd:element name="HouseNo3" type="n0:char10" /> 
  <xsd:element name="StrSuppl1" type="n0:char40" /> 
  <xsd:element name="StrSuppl2" type="n0:char40" /> 
  <xsd:element name="StrSuppl3" type="n0:char40" /> 
  <xsd:element name="Location" type="n0:char40" /> 
  <xsd:element name="Building" type="n0:char20" /> 
  <xsd:element name="Floor" type="n0:char10" /> 
  <xsd:element name="RoomNo" type="n0:char10" /> 
  <xsd:element name="Country" type="n0:char3" /> 
  <xsd:element name="Countryiso" type="n0:char2" /> 
  <xsd:element name="Region" type="n0:char3" /> 
  <xsd:element name="TimeZone" type="n0:char6" /> 
  <xsd:element name="Taxjurcode" type="n0:char15" /> 
  <xsd:element name="HomeCity" type="n0:char40" /> 
  <xsd:element name="Transpzone" type="n0:char10" /> 
  <xsd:element name="Langu" type="n0:lang" /> 
  <xsd:element name="Languiso" type="n0:char2" /> 
  <xsd:element name="CommType" type="n0:char3" /> 
  <xsd:element name="Extaddressnumber" type="n0:char20" /> 
  <xsd:element name="DontUseP" type="n0:char4" /> 
  <xsd:element name="DontUseS" type="n0:char4" /> 
  <xsd:element name="MoveDate" type="n0:date10" /> 
  <xsd:element name="MoveAddress" type="n0:char10" /> 
  <xsd:element name="Validfromdate" type="n0:date10" /> 
  <xsd:element name="Validtodate" type="n0:date10" /> 
  <xsd:element name="MoveAddrGuid" type="n0:char32" /> 
  <xsd:element name="CityNo" type="n0:char12" /> 
  <xsd:element name="DistrctNo" type="n0:char8" /> 
  <xsd:element name="Chckstatus" type="n0:char1" /> 
  <xsd:element name="PboxcitNo" type="n0:char12" /> 
  <xsd:element name="StreetNo" type="n0:char12" /> 
  <xsd:element name="Homecityno" type="n0:char12" /> 
  <xsd:element name="PoBoxLobby" type="n0:char40" /> 
  <xsd:element name="DeliServType" type="n0:char4" /> 
  <xsd:element name="DeliServNumber" type="n0:char10" /> 
  <xsd:element name="County" type="n0:char40" /> 
  <xsd:element name="CountyNo" type="n0:char8" /> 
  <xsd:element name="Township" type="n0:char40" /> 
  <xsd:element name="TownshipNo" type="n0:char8" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapibus1006Central">
  <xsd:sequence>
  <xsd:element name="Searchterm1" type="n0:char20" /> 
  <xsd:element name="Searchterm2" type="n0:char20" /> 
  <xsd:element name="Partnertype" type="n0:char4" /> 
  <xsd:element name="Authorizationgroup" type="n0:char4" /> 
  <xsd:element name="Partnerlanguage" type="n0:lang" /> 
  <xsd:element name="Partnerlanguageiso" type="n0:char2" /> 
  <xsd:element name="Dataorigintype" type="n0:char4" /> 
  <xsd:element name="Centralarchivingflag" type="n0:char1" /> 
  <xsd:element name="Centralblock" type="n0:char1" /> 
  <xsd:element name="TitleKey" type="n0:char4" /> 
  <xsd:element name="Contactallowance" type="n0:char1" /> 
  <xsd:element name="Partnerexternal" type="n0:char20" /> 
  <xsd:element name="Titleletter" type="n0:char50" /> 
  <xsd:element name="Notreleased" type="n0:char1" /> 
  <xsd:element name="CommType" type="n0:char3" /> 
  <xsd:element name="PrintMode" type="n0:char1" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapibus1006CentralGroup">
  <xsd:sequence>
  <xsd:element name="Namegroup1" type="n0:char40" /> 
  <xsd:element name="Namegroup2" type="n0:char40" /> 
  <xsd:element name="Grouptype" type="n0:char4" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapibus1006CentralOrgan">
  <xsd:sequence>
  <xsd:element name="Name1" type="n0:char40" /> 
  <xsd:element name="Name2" type="n0:char40" /> 
  <xsd:element name="Name3" type="n0:char40" /> 
  <xsd:element name="Name4" type="n0:char40" /> 
  <xsd:element name="Legalform" type="n0:char2" /> 
  <xsd:element name="Industrysector" type="n0:char10" /> 
  <xsd:element name="Foundationdate" type="n0:date10" /> 
  <xsd:element name="Liquidationdate" type="n0:date10" /> 
  <xsd:element name="LocNo1" type="n0:numeric7" /> 
  <xsd:element name="LocNo2" type="n0:numeric5" /> 
  <xsd:element name="ChkDigit" type="n0:numeric1" /> 
  <xsd:element name="Legalorg" type="n0:char2" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapibus1006CentralPerson">
  <xsd:sequence>
  <xsd:element name="Firstname" type="n0:char40" /> 
  <xsd:element name="Lastname" type="n0:char40" /> 
  <xsd:element name="Birthname" type="n0:char40" /> 
  <xsd:element name="Middlename" type="n0:char40" /> 
  <xsd:element name="Secondname" type="n0:char40" /> 
  <xsd:element name="TitleAca1" type="n0:char4" /> 
  <xsd:element name="TitleAca2" type="n0:char4" /> 
  <xsd:element name="TitleSppl" type="n0:char4" /> 
  <xsd:element name="Prefix1" type="n0:char4" /> 
  <xsd:element name="Prefix2" type="n0:char4" /> 
  <xsd:element name="Nickname" type="n0:char40" /> 
  <xsd:element name="Initials" type="n0:char10" /> 
  <xsd:element name="Nameformat" type="n0:char2" /> 
  <xsd:element name="Namcountry" type="n0:char3" /> 
  <xsd:element name="Namcountryiso" type="n0:char2" /> 
  <xsd:element name="Sex" type="n0:char1" /> 
  <xsd:element name="Birthplace" type="n0:char40" /> 
  <xsd:element name="Birthdate" type="n0:date10" /> 
  <xsd:element name="Deathdate" type="n0:date10" /> 
  <xsd:element name="Maritalstatus" type="n0:char1" /> 
  <xsd:element name="Correspondlanguage" type="n0:lang" /> 
  <xsd:element name="Correspondlanguageiso" type="n0:char2" /> 
  <xsd:element name="Fullname" type="n0:char80" /> 
  <xsd:element name="Employer" type="n0:char35" /> 
  <xsd:element name="Occupation" type="n0:char4" /> 
  <xsd:element name="Nationality" type="n0:char3" /> 
  <xsd:element name="Nationalityiso" type="n0:char2" /> 
  <xsd:element name="Countryorigin" type="n0:char3" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapibus1006AddressDuplicates">
  <xsd:sequence>
  <xsd:element name="Addrnumber" type="n0:char10" /> 
  <xsd:element name="Persnumber" type="n0:char10" /> 
  <xsd:element name="Percentage" type="n0:decimal3.1" /> 
  <xsd:element name="Businesspartner" type="n0:char10" /> 
  <xsd:element name="Addressguid" type="n0:char32" /> 
  <xsd:element name="PercentCompl" type="n0:decimal4.1" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BapiadRem">
  <xsd:sequence>
  <xsd:element name="AddrVers" type="n0:char1" /> 
  <xsd:element name="Langu" type="n0:lang" /> 
  <xsd:element name="LanguIso" type="n0:char2" /> 
  <xsd:element name="AdrNotes" type="n0:char50" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapicomrem">
  <xsd:sequence>
  <xsd:element name="CommType" type="n0:char3" /> 
  <xsd:element name="Langu" type="n0:lang" /> 
  <xsd:element name="LanguIso" type="n0:char2" /> 
  <xsd:element name="CommNotes" type="n0:char50" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiaduse">
  <xsd:sequence>
  <xsd:element name="CommType" type="n0:char3" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="CommUsage" type="n0:char10" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="DefUsage" type="n0:char1" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadsmtp">
  <xsd:sequence>
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="EMail" type="n0:char241" /> 
  <xsd:element name="EmailSrch" type="n0:char20" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="R3User" type="n0:char1" /> 
  <xsd:element name="Encode" type="n0:char1" /> 
  <xsd:element name="Tnef" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadfax">
  <xsd:sequence>
  <xsd:element name="Country" type="n0:char3" /> 
  <xsd:element name="Countryiso" type="n0:char2" /> 
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="Fax" type="n0:char30" /> 
  <xsd:element name="Extension" type="n0:char10" /> 
  <xsd:element name="FaxNo" type="n0:char30" /> 
  <xsd:element name="SenderNo" type="n0:char30" /> 
  <xsd:element name="FaxGroup" type="n0:char1" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="R3User" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadpag">
  <xsd:sequence>
  <xsd:element name="Country" type="n0:char3" /> 
  <xsd:element name="Countryiso" type="n0:char2" /> 
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="PagerType" type="n0:char4" /> 
  <xsd:element name="Pager" type="n0:char30" /> 
  <xsd:element name="PagerNo" type="n0:char30" /> 
  <xsd:element name="CallerNo" type="n0:char30" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="R3User" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadprt">
  <xsd:sequence>
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="PrintDest" type="n0:char4" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2">
  <xsd:sequence>
  <xsd:element name="Type" type="n0:char1" /> 
  <xsd:element name="Id" type="n0:char20" /> 
  <xsd:element name="Number" type="n0:numeric3" /> 
  <xsd:element name="Message" type="n0:char220" /> 
  <xsd:element name="LogNo" type="n0:char20" /> 
  <xsd:element name="LogMsgNo" type="n0:numeric6" /> 
  <xsd:element name="MessageV1" type="n0:char50" /> 
  <xsd:element name="MessageV2" type="n0:char50" /> 
  <xsd:element name="MessageV3" type="n0:char50" /> 
  <xsd:element name="MessageV4" type="n0:char50" /> 
  <xsd:element name="Parameter" type="n0:char32" /> 
  <xsd:element name="Row" type="xsd:int" /> 
  <xsd:element name="Field" type="n0:char30" /> 
  <xsd:element name="System" type="n0:char10" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadrfc">
  <xsd:sequence>
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="LogDest" type="n0:char32" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="R3User" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadrml">
  <xsd:sequence>
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="SymbDest" type="n0:char10" /> 
  <xsd:element name="RecType" type="n0:char1" /> 
  <xsd:element name="RMailClt" type="n0:char3" /> 
  <xsd:element name="RMail" type="n0:char12" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="R3User" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadssf">
  <xsd:sequence>
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="Dummy" type="n0:char1" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Rfcdest" type="n0:char32" /> 
  <xsd:element name="Ssfidshort" type="n0:char132" /> 
  <xsd:element name="SsfNs" type="n0:char10" /> 
  <xsd:element name="SsfProf" type="n0:char132" /> 
  <xsd:element name="Ssfidpart1" type="n0:char250" /> 
  <xsd:element name="Ssfidpart2" type="n0:char250" /> 
  <xsd:element name="Ssfidpart3" type="n0:char250" /> 
  <xsd:element name="Ssfidpart4" type="n0:char250" /> 
  <xsd:element name="Ssfidpart5" type="n0:char250" /> 
  <xsd:element name="Ssfidpart6" type="n0:char250" /> 
  <xsd:element name="Ssfidpart7" type="n0:char250" /> 
  <xsd:element name="Ssfidpart8" type="n0:char250" /> 
  <xsd:element name="Ssfidpart9" type="n0:char48" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadtel">
  <xsd:sequence>
  <xsd:element name="Country" type="n0:char3" /> 
  <xsd:element name="Countryiso" type="n0:char2" /> 
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="Telephone" type="n0:char30" /> 
  <xsd:element name="Extension" type="n0:char10" /> 
  <xsd:element name="TelNo" type="n0:char30" /> 
  <xsd:element name="CallerNo" type="n0:char30" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="R3User" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadttx">
  <xsd:sequence>
  <xsd:element name="Country" type="n0:char3" /> 
  <xsd:element name="Countryiso" type="n0:char2" /> 
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="Teletex" type="n0:char30" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="R3User" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadtlx">
  <xsd:sequence>
  <xsd:element name="Country" type="n0:char3" /> 
  <xsd:element name="Countryiso" type="n0:char2" /> 
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="TelexNo" type="n0:char30" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="R3User" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiaduri">
  <xsd:sequence>
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="UriType" type="n0:char3" /> 
  <xsd:element name="Uri" type="n0:char132" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="UriPart1" type="n0:char250" /> 
  <xsd:element name="UriPart2" type="n0:char250" /> 
  <xsd:element name="UriPart3" type="n0:char250" /> 
  <xsd:element name="UriPart4" type="n0:char250" /> 
  <xsd:element name="UriPart5" type="n0:char250" /> 
  <xsd:element name="UriPart6" type="n0:char250" /> 
  <xsd:element name="UriPart7" type="n0:char250" /> 
  <xsd:element name="UriPart8" type="n0:char250" /> 
  <xsd:element name="UriPart9" type="n0:char48" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiadx400">
  <xsd:sequence>
  <xsd:element name="StdNo" type="n0:char1" /> 
  <xsd:element name="Country" type="n0:char3" /> 
  <xsd:element name="Countryiso" type="n0:char2" /> 
  <xsd:element name="AdmDom" type="n0:char16" /> 
  <xsd:element name="PrivDom" type="n0:char16" /> 
  <xsd:element name="Organizatn" type="n0:char64" /> 
  <xsd:element name="OrgUnit1" type="n0:char32" /> 
  <xsd:element name="OrgUnit2" type="n0:char32" /> 
  <xsd:element name="OrgUnit3" type="n0:char32" /> 
  <xsd:element name="OrgUnit4" type="n0:char32" /> 
  <xsd:element name="Lastname" type="n0:char40" /> 
  <xsd:element name="Firstname" type="n0:char16" /> 
  <xsd:element name="Initials" type="n0:char5" /> 
  <xsd:element name="Generation" type="n0:char3" /> 
  <xsd:element name="X121Addr" type="n0:char15" /> 
  <xsd:element name="TermId" type="n0:char24" /> 
  <xsd:element name="TermType" type="n0:char1" /> 
  <xsd:element name="Uanid" type="n0:char32" /> 
  <xsd:element name="DdaType1" type="n0:char8" /> 
  <xsd:element name="DdaValue1" type="n0:char128" /> 
  <xsd:element name="DdaType2" type="n0:char8" /> 
  <xsd:element name="DdaValue2" type="n0:char128" /> 
  <xsd:element name="DdaType3" type="n0:char8" /> 
  <xsd:element name="DdaValue3" type="n0:char128" /> 
  <xsd:element name="DdaType4" type="n0:char8" /> 
  <xsd:element name="DdaValue4" type="n0:char128" /> 
  <xsd:element name="StdRecip" type="n0:char1" /> 
  <xsd:element name="R3User" type="n0:char1" /> 
  <xsd:element name="TxtEncode" type="n0:char1" /> 
  <xsd:element name="Tnef" type="n0:char1" /> 
  <xsd:element name="HomeFlag" type="n0:char1" /> 
  <xsd:element name="Consnumber" type="n0:numeric3" /> 
  <xsd:element name="Errorflag" type="n0:char1" /> 
  <xsd:element name="FlgNouse" type="n0:char1" /> 
  <xsd:element name="ValidFrom" type="n0:char14" /> 
  <xsd:element name="ValidTo" type="n0:char14" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapibus1006AddressDuplicates">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapibus1006AddressDuplicates" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadRem">
  <xsd:sequence>
  <xsd:element name="item" type="tns:BapiadRem" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapicomrem">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapicomrem" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiaduse">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiaduse" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadsmtp">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadsmtp" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadfax">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadfax" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadpag">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadpag" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadprt">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadprt" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiret2">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadrfc">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadrfc" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadrml">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadrml" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadssf">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadssf" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadtel">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadtel" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadttx">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadttx" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadtlx">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadtlx" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiaduri">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiaduri" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiadx400">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiadx400" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ZbapiBupaCreateFromData">
  <xsd:complexType>
  <xsd:sequence>
  <xsd:element name="AcceptError" type="n0:char1" minOccurs="0" /> 
  <xsd:element name="Addressdata" type="tns:Bapibus1006Address" minOccurs="0" /> 
  <xsd:element name="Addressduplicates" type="tns:TableOfBapibus1006AddressDuplicates" minOccurs="0" /> 
  <xsd:element name="Addressnotes" type="tns:TableOfBapiadRem" minOccurs="0" /> 
  <xsd:element name="Businesspartnerextern" type="n0:char10" minOccurs="0" /> 
  <xsd:element name="Centraldata" type="tns:Bapibus1006Central" /> 
  <xsd:element name="Centraldatagroup" type="tns:Bapibus1006CentralGroup" minOccurs="0" /> 
  <xsd:element name="Centraldataorganization" type="tns:Bapibus1006CentralOrgan" minOccurs="0" /> 
  <xsd:element name="Centraldataperson" type="tns:Bapibus1006CentralPerson" minOccurs="0" /> 
  <xsd:element name="Communicationnotes" type="tns:TableOfBapicomrem" minOccurs="0" /> 
  <xsd:element name="Communicationnotesnonaddress" type="tns:TableOfBapicomrem" minOccurs="0" /> 
  <xsd:element name="Communicationusage" type="tns:TableOfBapiaduse" minOccurs="0" /> 
  <xsd:element name="Communicationusagenonaddress" type="tns:TableOfBapiaduse" minOccurs="0" /> 
  <xsd:element name="DuplicateMessageType" type="n0:char1" minOccurs="0" /> 
  <xsd:element name="EMaildata" type="tns:TableOfBapiadsmtp" minOccurs="0" /> 
  <xsd:element name="EMaildatanonaddress" type="tns:TableOfBapiadsmtp" minOccurs="0" /> 
  <xsd:element name="Faxdata" type="tns:TableOfBapiadfax" minOccurs="0" /> 
  <xsd:element name="Faxdatanonaddress" type="tns:TableOfBapiadfax" minOccurs="0" /> 
  <xsd:element name="Pagaddressdata" type="tns:TableOfBapiadpag" minOccurs="0" /> 
  <xsd:element name="Pagaddressdatanonaddress" type="tns:TableOfBapiadpag" minOccurs="0" /> 
  <xsd:element name="Partnercategory" type="n0:char1" /> 
  <xsd:element name="Partnergroup" type="n0:char4" minOccurs="0" /> 
  <xsd:element name="Prtaddressdata" type="tns:TableOfBapiadprt" minOccurs="0" /> 
  <xsd:element name="Prtaddressdatanonaddress" type="tns:TableOfBapiadprt" minOccurs="0" /> 
  <xsd:element name="Return" type="tns:TableOfBapiret2" minOccurs="0" /> 
  <xsd:element name="Rfcaddressdata" type="tns:TableOfBapiadrfc" minOccurs="0" /> 
  <xsd:element name="Rfcaddressdatanonaddress" type="tns:TableOfBapiadrfc" minOccurs="0" /> 
  <xsd:element name="Rmladdressdata" type="tns:TableOfBapiadrml" minOccurs="0" /> 
  <xsd:element name="Rmladdressdatanonaddress" type="tns:TableOfBapiadrml" minOccurs="0" /> 
  <xsd:element name="Ssfaddressdata" type="tns:TableOfBapiadssf" minOccurs="0" /> 
  <xsd:element name="Ssfaddressdatanonaddress" type="tns:TableOfBapiadssf" minOccurs="0" /> 
  <xsd:element name="Telefondata" type="tns:TableOfBapiadtel" minOccurs="0" /> 
  <xsd:element name="Telefondatanonaddress" type="tns:TableOfBapiadtel" minOccurs="0" /> 
  <xsd:element name="Teletexdata" type="tns:TableOfBapiadttx" minOccurs="0" /> 
  <xsd:element name="Teletexdatanonaddress" type="tns:TableOfBapiadttx" minOccurs="0" /> 
  <xsd:element name="Telexdata" type="tns:TableOfBapiadtlx" minOccurs="0" /> 
  <xsd:element name="Telexdatanonaddress" type="tns:TableOfBapiadtlx" minOccurs="0" /> 
  <xsd:element name="Uriaddressdata" type="tns:TableOfBapiaduri" minOccurs="0" /> 
  <xsd:element name="Uriaddressdatanonaddress" type="tns:TableOfBapiaduri" minOccurs="0" /> 
  <xsd:element name="X400addressdata" type="tns:TableOfBapiadx400" minOccurs="0" /> 
  <xsd:element name="X400addressdatanonaddress" type="tns:TableOfBapiadx400" minOccurs="0" /> 
  </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
  <xsd:element name="ZbapiBupaCreateFromDataResponse">
  <xsd:complexType>
  <xsd:sequence>
  <xsd:element name="Addressduplicates" type="tns:TableOfBapibus1006AddressDuplicates" minOccurs="0" /> 
  <xsd:element name="Addressnotes" type="tns:TableOfBapiadRem" minOccurs="0" /> 
  <xsd:element name="Businesspartner" type="n0:char10" /> 
  <xsd:element name="Communicationnotes" type="tns:TableOfBapicomrem" minOccurs="0" /> 
  <xsd:element name="Communicationnotesnonaddress" type="tns:TableOfBapicomrem" minOccurs="0" /> 
  <xsd:element name="Communicationusage" type="tns:TableOfBapiaduse" minOccurs="0" /> 
  <xsd:element name="Communicationusagenonaddress" type="tns:TableOfBapiaduse" minOccurs="0" /> 
  <xsd:element name="EMaildata" type="tns:TableOfBapiadsmtp" minOccurs="0" /> 
  <xsd:element name="EMaildatanonaddress" type="tns:TableOfBapiadsmtp" minOccurs="0" /> 
  <xsd:element name="Faxdata" type="tns:TableOfBapiadfax" minOccurs="0" /> 
  <xsd:element name="Faxdatanonaddress" type="tns:TableOfBapiadfax" minOccurs="0" /> 
  <xsd:element name="Pagaddressdata" type="tns:TableOfBapiadpag" minOccurs="0" /> 
  <xsd:element name="Pagaddressdatanonaddress" type="tns:TableOfBapiadpag" minOccurs="0" /> 
  <xsd:element name="Prtaddressdata" type="tns:TableOfBapiadprt" minOccurs="0" /> 
  <xsd:element name="Prtaddressdatanonaddress" type="tns:TableOfBapiadprt" minOccurs="0" /> 
  <xsd:element name="Return" type="tns:TableOfBapiret2" minOccurs="0" /> 
  <xsd:element name="Rfcaddressdata" type="tns:TableOfBapiadrfc" minOccurs="0" /> 
  <xsd:element name="Rfcaddressdatanonaddress" type="tns:TableOfBapiadrfc" minOccurs="0" /> 
  <xsd:element name="Rmladdressdata" type="tns:TableOfBapiadrml" minOccurs="0" /> 
  <xsd:element name="Rmladdressdatanonaddress" type="tns:TableOfBapiadrml" minOccurs="0" /> 
  <xsd:element name="Ssfaddressdata" type="tns:TableOfBapiadssf" minOccurs="0" /> 
  <xsd:element name="Ssfaddressdatanonaddress" type="tns:TableOfBapiadssf" minOccurs="0" /> 
  <xsd:element name="Telefondata" type="tns:TableOfBapiadtel" minOccurs="0" /> 
  <xsd:element name="Telefondatanonaddress" type="tns:TableOfBapiadtel" minOccurs="0" /> 
  <xsd:element name="Teletexdata" type="tns:TableOfBapiadttx" minOccurs="0" /> 
  <xsd:element name="Teletexdatanonaddress" type="tns:TableOfBapiadttx" minOccurs="0" /> 
  <xsd:element name="Telexdata" type="tns:TableOfBapiadtlx" minOccurs="0" /> 
  <xsd:element name="Telexdatanonaddress" type="tns:TableOfBapiadtlx" minOccurs="0" /> 
  <xsd:element name="Uriaddressdata" type="tns:TableOfBapiaduri" minOccurs="0" /> 
  <xsd:element name="Uriaddressdatanonaddress" type="tns:TableOfBapiaduri" minOccurs="0" /> 
  <xsd:element name="X400addressdata" type="tns:TableOfBapiadx400" minOccurs="0" /> 
  <xsd:element name="X400addressdatanonaddress" type="tns:TableOfBapiadx400" minOccurs="0" /> 
  </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
  </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZbapiBupaCreateFromData">
  <wsdl:part name="parameters" element="tns:ZbapiBupaCreateFromData" /> 
  </wsdl:message>
  <wsdl:message name="ZbapiBupaCreateFromDataResponse">
  <wsdl:part name="parameter" element="tns:ZbapiBupaCreateFromDataResponse" /> 
  </wsdl:message>
  <wsdl:portType name="ZBAPI_BUPA_ZCREATE_FROM_DATA">
  <wsdl:documentation>
  <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
  <sapdoc:docitem applicationComponent="CRM-IT" /> 
  </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
  <wsp:PolicyReference URI="#IF__ZBAPI_BUPA_ZCREATE_FROM_DATA" /> 
  </wsp:Policy>
  <wsdl:operation name="ZbapiBupaCreateFromData">
  <wsp:Policy>
  <wsp:PolicyReference URI="#OP__ZbapiBupaCreateFromData" /> 
  </wsp:Policy>
  <wsdl:input message="tns:ZbapiBupaCreateFromData" /> 
  <wsdl:output message="tns:ZbapiBupaCreateFromDataResponse" /> 
  </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZBupaCreateBinding" type="tns:ZBAPI_BUPA_ZCREATE_FROM_DATA">
  <wsp:Policy>
  <wsp:PolicyReference URI="#BN__ZBupaCreateBinding" /> 
  </wsp:Policy>
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
  <wsdl:operation name="ZbapiBupaCreateFromData">
  <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZBAPI_BUPA_ZCREATE_FROM_DATA:ZbapiBupaCreateFromDataRequest" style="document" /> 
  <wsdl:input>
  <soap:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZBupaCreateBinding_soap12" type="tns:ZBAPI_BUPA_ZCREATE_FROM_DATA">
  <wsp:Policy>
  <wsp:PolicyReference URI="#BN__ZBupaCreateBinding_soap12" /> 
  </wsp:Policy>
  <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
  <wsdl:operation name="ZbapiBupaCreateFromData">
  <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZBAPI_BUPA_ZCREATE_FROM_DATA:ZbapiBupaCreateFromDataRequest" style="document" /> 
  <wsdl:input>
  <wsoap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <wsoap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZBAPI_BUPA_ZCREATE_FROM_DATA">
  <wsdl:port name="ZBupaCreateBinding" binding="tns:ZBupaCreateBinding">
  <soap:address location="http://cicr3.wdf.sap.corp:50080/sap/bc/srt/rfc/sap/zbapi_bupa_zcreate_from_data/200/zbapi_bupa_zcreate_from_data/zbupacreatebinding" /> 
  </wsdl:port>
  <wsdl:port name="ZBupaCreateBinding_soap12" binding="tns:ZBupaCreateBinding_soap12">
  <wsoap12:address location="http://cicr3.wdf.sap.corp:50080/sap/bc/srt/rfc/sap/zbapi_bupa_zcreate_from_data/200/zbapi_bupa_zcreate_from_data/zbupacreatebinding" /> 
  </wsdl:port>
  </wsdl:service>
  </wsdl:definitions>