custom/cecs/ybillingintegration/resources/ybillingintegration/wsdl/WS_ZBP_FRG0030_ADD.WSDL

<?xml version="1.0" encoding="utf-8" ?> 
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
  <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" /> 
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" /> 
  <wsp:Policy wsu:Id="BN__ZBupaFRG0030AddBinding">
  <wsp:ExactlyOne>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken>
  <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken>
  <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZBupaFRG0030AddBinding_soap12">
  <wsp:ExactlyOne>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken>
  <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken>
  <wsp:Policy>
  <sp:HttpBasicAuthentication /> 
  </wsp:Policy>
  </sp:HttpsToken>
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic128Rsa15 /> 
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  </wsp:All>
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZCRM_WS_BAPI_BUPA_FRG0030_ADD">
  <wsp:ExactlyOne>
  <wsp:All>
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
  <sapsession:enableSession>false</sapsession:enableSession> 
  </sapsession:Session>
  <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
  <sapcentraladmin:BusinessApplicationID>0050568502431ED1B0B63AE1E24D675F</sapcentraladmin:BusinessApplicationID> 
  </sapcentraladmin:CentralAdministration>
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZbapiBupaFrg0030Add">
  <wsp:ExactlyOne>
  <wsp:All>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required> 
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit> 
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking> 
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM> 
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xsd:simpleType name="char1">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="1" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char10">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="10" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char14">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="14" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char2">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="2" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char20">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="20" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char220">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="220" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char3">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="3" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char30">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="30" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char32">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="32" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char4">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="4" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char50">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="50" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="cuky5">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="5" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeric3">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="3" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeric6">
  <xsd:restriction base="xsd:string">
  <xsd:maxLength value="6" /> 
  <xsd:pattern value="\d*" /> 
  </xsd:restriction>
  </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" /> 
  <xsd:complexType name="Bapibus1006030Pricing">
  <xsd:sequence>
  <xsd:element name="CustPricProc" type="n0:char1" /> 
  <xsd:element name="ExchangeType" type="n0:char4" /> 
  <xsd:element name="Currency" type="n0:cuky5" /> 
  <xsd:element name="CurrencyIso" type="n0:char3" /> 
  <xsd:element name="PaymentTerms" type="n0:char4" /> 
  <xsd:element name="PriceGroup" type="n0:char2" /> 
  <xsd:element name="PriceListType" type="n0:char2" /> 
  <xsd:element name="CustomerGroup" type="n0:char2" /> 
  <xsd:element name="BillplanProc" type="n0:char4" /> 
  <xsd:element name="EtaxHandType" type="n0:char2" /> 
  <xsd:element name="EtaxSource" type="n0:char2" /> 
  <xsd:element name="AccountAsgngrp" type="n0:char2" /> 
  <xsd:element name="RebateRelevant" type="n0:char1" /> 
  <xsd:element name="DirectInvoice" type="n0:char1" /> 
  <xsd:element name="SplitByCond" type="n0:char1" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapibus1006SalesArea">
  <xsd:sequence>
  <xsd:element name="SalesOrganization" type="n0:char14" /> 
  <xsd:element name="DistributionChannel" type="n0:char2" /> 
  <xsd:element name="Division" type="n0:char2" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2">
  <xsd:sequence>
  <xsd:element name="Type" type="n0:char1" /> 
  <xsd:element name="Id" type="n0:char20" /> 
  <xsd:element name="Number" type="n0:numeric3" /> 
  <xsd:element name="Message" type="n0:char220" /> 
  <xsd:element name="LogNo" type="n0:char20" /> 
  <xsd:element name="LogMsgNo" type="n0:numeric6" /> 
  <xsd:element name="MessageV1" type="n0:char50" /> 
  <xsd:element name="MessageV2" type="n0:char50" /> 
  <xsd:element name="MessageV3" type="n0:char50" /> 
  <xsd:element name="MessageV4" type="n0:char50" /> 
  <xsd:element name="Parameter" type="n0:char32" /> 
  <xsd:element name="Row" type="xsd:int" /> 
  <xsd:element name="Field" type="n0:char30" /> 
  <xsd:element name="System" type="n0:char10" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapiret2">
  <xsd:sequence>
  <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded" /> 
  </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ZbapiBupaFrg0030Add">
  <xsd:complexType>
  <xsd:sequence>
  <xsd:element name="Businesspartner" type="n0:char10" /> 
  <xsd:element name="Data" type="tns:Bapibus1006030Pricing" minOccurs="0" /> 
  <xsd:element name="Return" type="tns:TableOfBapiret2" /> 
  <xsd:element name="SalesArea" type="tns:Bapibus1006SalesArea" minOccurs="0" /> 
  </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
  <xsd:element name="ZbapiBupaFrg0030AddResponse">
  <xsd:complexType>
  <xsd:sequence>
  <xsd:element name="Return" type="tns:TableOfBapiret2" /> 
  </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
  </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZbapiBupaFrg0030Add">
  <wsdl:part name="parameters" element="tns:ZbapiBupaFrg0030Add" /> 
  </wsdl:message>
  <wsdl:message name="ZbapiBupaFrg0030AddResponse">
  <wsdl:part name="parameter" element="tns:ZbapiBupaFrg0030AddResponse" /> 
  </wsdl:message>
  <wsdl:portType name="ZCRM_WS_BAPI_BUPA_FRG0030_ADD">
  <wsdl:documentation>
  <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
  <sapdoc:docitem applicationComponent="CRM-IT" /> 
  </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
  <wsp:PolicyReference URI="#IF__ZCRM_WS_BAPI_BUPA_FRG0030_ADD" /> 
  </wsp:Policy>
  <wsdl:operation name="ZbapiBupaFrg0030Add">
  <wsp:Policy>
  <wsp:PolicyReference URI="#OP__ZbapiBupaFrg0030Add" /> 
  </wsp:Policy>
  <wsdl:input message="tns:ZbapiBupaFrg0030Add" /> 
  <wsdl:output message="tns:ZbapiBupaFrg0030AddResponse" /> 
  </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZBupaFRG0030AddBinding" type="tns:ZCRM_WS_BAPI_BUPA_FRG0030_ADD">
  <wsp:Policy>
  <wsp:PolicyReference URI="#BN__ZBupaFRG0030AddBinding" /> 
  </wsp:Policy>
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
  <wsdl:operation name="ZbapiBupaFrg0030Add">
  <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZCRM_WS_BAPI_BUPA_FRG0030_ADD:ZbapiBupaFrg0030AddRequest" style="document" /> 
  <wsdl:input>
  <soap:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZBupaFRG0030AddBinding_soap12" type="tns:ZCRM_WS_BAPI_BUPA_FRG0030_ADD">
  <wsp:Policy>
  <wsp:PolicyReference URI="#BN__ZBupaFRG0030AddBinding_soap12" /> 
  </wsp:Policy>
  <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
  <wsdl:operation name="ZbapiBupaFrg0030Add">
  <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZCRM_WS_BAPI_BUPA_FRG0030_ADD:ZbapiBupaFrg0030AddRequest" style="document" /> 
  <wsdl:input>
  <wsoap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <wsoap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZCRM_WS_BAPI_BUPA_FRG0030_ADD">
  <wsdl:port name="ZBupaFRG0030AddBinding" binding="tns:ZBupaFRG0030AddBinding">
  <soap:address location="http://cicr3.wdf.sap.corp:50080/sap/bc/srt/rfc/sap/zcrm_ws_bapi_bupa_frg0030_add/200/zcrm_ws_bapi_bupa_frg0030_add/zbupafrg0030addbinding" /> 
  </wsdl:port>
  <wsdl:port name="ZBupaFRG0030AddBinding_soap12" binding="tns:ZBupaFRG0030AddBinding_soap12">
  <wsoap12:address location="http://cicr3.wdf.sap.corp:50080/sap/bc/srt/rfc/sap/zcrm_ws_bapi_bupa_frg0030_add/200/zcrm_ws_bapi_bupa_frg0030_add/zbupafrg0030addbinding" /> 
  </wsdl:port>
  </wsdl:service>
</wsdl:definitions>