custom/cecs/ybillingintegration/resources/ybillingintegration/wsdl/WS_CHARG_ITEM_CHARGING/chargeableItemCharging.wsdl

<?xml version='1.0' encoding='UTF-8'?><definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://charging.ws.highdeal.com/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:schema="http://schema.charging.ws.highdeal.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="charging" targetNamespace="http://charging.ws.highdeal.com/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://charging.ws.highdeal.com/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:schema="http://schema.charging.ws.highdeal.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
      
  <xsd:import namespace="http://schema.charging.ws.highdeal.com/" schemaLocation="charging_schema.xsd"/>
    
</xsd:schema>
  </types>
  <message name="chargeableItemChargeRequest">
    <part element="schema:chargeableItemChargeRequest" name="request">
    </part>
  </message>
  <message name="chargeableItemChargeMassRequest">
    <part element="schema:chargeableItemChargeMassRequest" name="request">
    </part>
  </message>
  <message name="chargeableItemCheckChargeRequest">
    <part element="schema:chargeableItemCheckChargeRequest" name="request">
    </part>
  </message>
  <message name="chargeableItemChargeBundleRequest">
    <part element="schema:chargeableItemChargeBundleRequest" name="request">
    </part>
  </message>
  <message name="chargeableItemCheckChargeResponse">
    <part element="schema:chargeableItemCheckChargeResponse" name="response">
    </part>
  </message>
  <message name="chargeableItemChargeBundleResponse">
    <part element="schema:chargeableItemChargeBundleResponse" name="response">
    </part>
  </message>
  <message name="chargeableItemChargeMassResponse">
    <part element="schema:chargeableItemChargeMassResponse" name="response">
    </part>
  </message>
  <message name="chargeableItemChargeResponse">
    <part element="schema:chargeableItemChargeResponse" name="response">
    </part>
  </message>
  <portType name="ChargeableItemChargingServices">
    <operation name="chargeableItemCharge">
      <input message="tns:chargeableItemChargeRequest">
    </input>
      <output message="tns:chargeableItemChargeResponse">
    </output>
    </operation>
    <operation name="chargeableItemChargeMass">
      <input message="tns:chargeableItemChargeMassRequest">
    </input>
      <output message="tns:chargeableItemChargeMassResponse">
    </output>
    </operation>
    <operation name="chargeableItemChargeBundle">
      <input message="tns:chargeableItemChargeBundleRequest">
    </input>
      <output message="tns:chargeableItemChargeBundleResponse">
    </output>
    </operation>
    <operation name="chargeableItemCheckCharge">
      <input message="tns:chargeableItemCheckChargeRequest">
    </input>
      <output message="tns:chargeableItemCheckChargeResponse">
    </output>
    </operation>
  </portType>
  <binding name="ChargeableItemChargingServicesPortBinding" type="tns:ChargeableItemChargingServices">
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#SAPCC_SEC_ASSERTIONS"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="chargeableItemCharge">
      <soap:operation soapAction="chargeableItemCharge"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="chargeableItemChargeMass">
      <soap:operation soapAction="chargeableItemChargeMass"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="chargeableItemChargeBundle">
      <soap:operation soapAction="chargeableItemChargeBundle"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="chargeableItemCheckCharge">
      <soap:operation soapAction="chargeableItemCheckCharge"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="chargeableItemCharging">
    <port binding="tns:ChargeableItemChargingServicesPortBinding" name="chargeableItemChargingPort">
      <soap:address location="http://cldvmxwi00124:9180/chargeableItemCharging"/>
    </port>
  </service>
    <wsp:UsingPolicy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" required="true"/>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="SAPCC_SEC_ASSERTIONS">
  
  <!-- Username token -->
  <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
    <wsp:Policy>
      <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
        <wsp:Policy>
          <sp:WssUsernameToken10/>
        </wsp:Policy>
      </sp:UsernameToken>
    </wsp:Policy>
  </sp:SupportingTokens>

</wsp:Policy>
</definitions>